* {
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

.bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}