* {
  font-family: "Poppins", sans-serif;
}

a {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #d8525d;
  letter-spacing: 0.1rem;
}

.height-container {
  min-height: calc(100vh - 68px);
  flex: 3;
}

.max-content {
  max-width: 1070px;
}

.copy-color {
  color: rgb(206, 212, 216);
}

.content-input {
  position: relative;
}

.content-input img {
  position: absolute;
  width: 18px;
  right: 12px;
  top: 12px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-input img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.max-content-xl {
  max-width: 1280px;
  width: 90%;
}

.max-90 {
  max-width: min(350px, 90%);
}

.max-p {
  max-width: min(600px, 90%);
}

.gap {
  gap: 0.5rem;
}

.max-height {
  max-height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  margin-top: 1rem;
}

.container-height {
  min-height: calc(100vh - 68px);
}

.height-container div:last-child {
  width: 50%;
  clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
  max-height: calc(100vh - 68px);
}

.max-width {
  width: 60%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", cursive;
}

.bungee {
  font-family: "Bungee", cursive;
}

@media only screen and (max-width: 1200px) {
  .height-container div:last-child {
    width: 100%;
    clip-path: none;
    justify-content: center;
    max-height: calc(100vh - 68px);
  }
  .height-container div:last-child img {
    border-radius: 1rem;
    max-height: 600px;
    max-width: 90%;
  }
}
