a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-content {
  max-width: 1280px;
  width: 100%;
}

.min-vh {
  min-height: 100vh;
}

.max-width-card {
  width: 220px;
  height: 280px;
}

.imgsd {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gap {
  gap: 1rem;
}

.rounded-card {
  border-radius: 0.75rem;
}
